CLAUDE_CODE_OAUTH_TOKEN=REPLACE_WITH_YOUR_OAUTH_TOKEN
# 4 identical daily runs (ET), same strategy each time:

30 9 * * 1-5 /home/ubuntu/quant_pod/scripts/run_trading.sh 0930
0 12 * * 1-5 /home/ubuntu/quant_pod/scripts/run_trading.sh 1200
30 13 * * 1-5 /home/ubuntu/quant_pod/scripts/run_trading.sh 1330
15 15 * * 1-5 /home/ubuntu/quant_pod/scripts/run_trading.sh 1515
